.DS_Store
.idea
*layout.*

# Added by cargo
/target

node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
yarn.lock

output_proof.json
zkpVerifier.yul
output/